
.main {
    text-align: center;

}

section>h2{
    margin: 1em;
}
.sidebar {
  width: 100%;
  overflow-wrap: break-word;
}

/* Стили для навигации */
.navbar-nav .nav-link {
    font-weight: 400 !important;
    color: #333 !important;
}
.navbar-nav .nav-link:hover {
    color: #2c3e50 !important;
}


